.root {
  text-align: center;

  li {
    display: inline-flex;

    a {
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      cursor: pointer;
      margin-right: 10px;
      font-size: 20px;
      transition: all 0.15s ease-in-out;
      color: #fe5f1e;
      user-select: none;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
